body{
    background: grey;
    font-family: 'Rubik', sans-serif;
}

header{
    text-align: center;
    margin-bottom: 30px;
}

#calc-container{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, minmax(100px));
    justify-content: center;
}

#calc-container > button{
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0 , 0, .2);
    border: 1px solid white;
    color: white;
}

#calc-container > button:hover{
    background-color: rgba(0, 0 , 0, .5);
}

.two-spaces{
    grid-column: span 2;
}

#calc-display{
    grid-column: 1 / -1;
    min-height: 50px;
    font-size: 1.5em;
    word-break: break-all;
    word-wrap: break-word;
}